.container-xl {
    max-width: 2000px !important;
}

/*
#main-content {
    max-width: 85% !important;
}
*/

/*
.tocify {
    width: 20%;
    max-width: 300px !important;
    max-height: 85%;
}

.tocify-subheader .tocify-item {
    font-size: 0.90em;
    padding-left: 5px !important;
    text-indent: inherit !important;
}
*/
